html,
body {
    height: 100%;
}

a {
    display: block;
    text-decoration: none;
}

ul,
ol,
dl {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

button {
    border: 1px solid transparent;
    outline: none;
}

input {
    border: 1px solid transparent;
    outline: none;
}
